body {
    background-color: rgba(103, 104, 107, 0.658);
    background-image: url("./bg.png");
    color: aliceblue;
}
main{
    height: 2700px;
}
.card-text {
    color: rgb(252, 249, 249);
}
footer {
    background-color: rgb(14, 10, 6);
    color: rgb(252, 247, 247);
}

